@charset "UTF-8";

#root{
  width:100%;
  height: 100%;
  touch-action: none;
}

.yo-scroller {
  width: 100%;
  height: 100%;
  touch-action: none;
}

.main{
  @include flexbox();
  @include flex-direction(column);
  height: 100%;
  header{
    background: #fff;
    height: .44rem;
    @include flexbox();
    @include justify-content(center);
    position: relative;
    .title{
      width: .89rem;
      height: .32rem;
      margin-top: .07rem;
      line-height: .32rem;
      text-align: center;
      color: #5e300e;
      @include border(1px,#000,solid,0.2rem);
    }
    .search{
      width: .3rem;
      height: .3rem;
      @include border(1px,#fff,solid,0.15rem);
      background: url(/images/switch_search.png)no-repeat center center;
      @include background-size(60%);
      overflow:hidden;
      padding:.09rem;
      top: .24rem;
      right: .13rem;
      margin-top: -.15rem;
      position: absolute;
      z-index: 100;
      a{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  footer{
      @include flexbox();
      height: .5rem;
      background: #fff;
      position: fixed;
      bottom: 0;
      // position: fixed;
      // bottom: 0;
      width: 100%;
      a{
        display: block;
        @include flex();
        color: #643414;
        &.active{
          .home{
            i{
              background:url(/images/home_home_icon_p.png)no-repeat;
              @include background-size(100%);
            }
          }
          .classify{
            i{
              background:url(/images/ic_home_kind_p.png)no-repeat;
              @include background-size(100%);
            }
          }
        }
      div{
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        text-align: center;
        i{
          display: inline-block;
          width: .21rem;
          height: .21rem;
          margin: 0 auto;
          margin-top:.06rem;
        }
        span{
          display: inline-block;
          font-size:.1rem;
        }
        &.home{
          @include flex();
          width: 100%;
          i{
            background:url(/images/home_home_icon.png)no-repeat;
            @include background-size(100%);
          }
        }
        &.classify{
          @include flex();
          width: 100%;
          i{
            background:url(/images/ic_home_kind.png)no-repeat;
            @include background-size(100%);
          }
        }
        &.shopping_car_wrap{
          width: .55rem;
          .shopping_car{
            width: .6rem;
            height: .6rem;
            position: absolute;
            left: 50%;
            margin-left: -.3rem;
            bottom:.08rem;
            background:url(/images/ic_home_cart_p.png)no-repeat;
            @include background-size(100%);
          }
        }
        &.order{
          @include flex();
          width: 100%;
          i{
            background:url(/images/home_order_icon.png)no-repeat;
            @include background-size(100%);
          }
        }
        &.my{
          @include flex();
          width: 100%;
          i{
            background:url(/images/home_account_icon.png)no-repeat;
            @include background-size(100%);
          }
        }
      }
    }
  }
}


.search_header{
  width: 100%;
  height: .49rem;
  text-align: center;
  position: relative;
  i{
    display: inline-block;
    width: .09rem;
    height: .3rem;
    position: absolute;
    left:.08rem;
    background:url(/images/icon_arrow_back.png)no-repeat center center;
    @include background-size(80%);
  }
  input{
    width: 3.18rem;
    height: .3rem;
    padding-left: .45rem;
    border: 0;
    font-size: .13rem;
    color:#d3d3d7;
    @include border-radius(1rem);
    background:#fff url(/images/icon_search2.png)no-repeat .15rem .075rem;
    @include background-size(.15rem,.15rem);
  }
}
