@charset "UTF-8" ;

@import "../component/carousel";

@include yo-carousel(
  $name: a,
  $index-bgcolor: #fff,
  $on-index-bgcolor: #000
) 

.m-detail{
	 @include flexbox();
	 @include flex-direction(column);
	 height:100%;
	 background:#fff;
	 .scroll-part{
	 	 @include flex() ;
		 width:100%;
	 	 overflow-y:scroll;
		 .d-header{
		 	width:100%;
	        height:2.38rem;
	        position: relative;
	        .top-btn{
	        	 position: absolute;
                 top:.06rem;
                 height:.32rem;
                 width:.32rem;
                 z-index:999;
	        }
	        .back{
              left:.12rem;
	        }
	        .share{
              right:.12rem;
	        }
		 	.detail-banner{
		 		ul{
		 			height:2.38rem;
		 			li{
		 				position:absolute;
		 				width:100%;
		 				top:0;
            			img{
            			    width:100%;
							height:2.38rem;
						}
		 			}
		 		}
		 	}
			.yo-carousel{
				.index{
					li{
						background: #fff;
					}
				}
			}
		 }
		 .detail-content{
		 	.txt-part{
		 		height:2.64rem;
				background:#fff;
		 		.content-t{
		 			span{
		 				display: block;
		 				text-align:center;
		 			}
		 			span:nth-of-type(1){
		 				font-size:.2rem;
		 				line-height:.48rem;
		 			}
		 			span:nth-of-type(2){
		 				font-size:.14rem;
		 				line-height:.40rem;
		 				color:#fe5423;
		 				i{
		 					font-size:.24rem;
		 				}
		 				em{
							color:#787878;
							text-decoration:line-through;
							font-size:.12rem;
		 				}
		 			}
		 		}
		 		.content-m{
		 			 @include flexbox();
	 				 @include flex-direction();
	 				 height:.72rem;
	 				 padding:.05rem 0 .1rem 0;
	 				 justify-content: space-around;
	 				 border-top:1px solid #dedede;
	 				 border-bottom:1px solid #dedede;
	 				 font-size:.12rem;
	 				 div{
	 				 	border-right:1px solid #dedede;
						height:.61rem;
						width:100%;
						text-align: center;
						img{
							width:.18rem;
							height:.2rem;
							margin-top:.1rem;
						}
						span{
							display: block;
							margin-top:.1rem;

						}
	 				 }
		 		}
		 		.content-b{
					margin-top:.04rem;
		 			height:.58rem;
		 			border-top:12px solid #f1f1f1;
		 			span{
		 				display: inline-block;
		 				width:50%;
		 				text-align: center;
		 				line-height:.58rem;
		 				background:#f9f9f9;
		 			}
		 			.tab{
		 				background:#fff;
		 				border-bottom:4px solid #ffd20c;
		 			}
		 		}
		 	}
		 	.pic-part{
		 		width:100%;
		 		img{
		 			width:100%;
		 		}
		 	}
		 }
	 }
	 .detail-footer{
	 	position: relative;
	 	height:.52rem;
	 	width:100%;
	 	background:#fff;
	 	border-top:1px solid #dedede;
	 	.shopcar{

	 	}
	 	.shopcar{
	 		position: absolute;
	 		left:.21rem;
	 		top:-.16rem;
	 		img{
	 			height:.52rem;
	 			width:.52rem;
	 		}
	 	}
	 	.plusin{
	 		position: absolute;
	 		right:0;
	 		width:1.36rem;
	 		height:100%;
	 		text-align: center;
	 		line-height: .52rem;
	 		font-size:.16rem;
	 		background:#fed700;
	 		a{
	 			color:#4c1100;
	 		}
	 	}
	 }
}
